.g-index{
    width: 386px;
    height: 366px;
    border: 2px solid black;
}

.m-shop_message{
    height: 106px;
}

.u-message{
    color: red;
}
.u-acPrice{
    color: red;
    font-weight: bolder;
    font-size: large;
}
.u-acPrice:before{
    font-size: 12px;
    content: "￥";
}
.u-acPrice:after{
    font-size: 12px;
    color: black;
    font-weight: normal;
    text-decoration: line-through;
    content: "￥原价XX.00";
}
.u-store{
    font-size: 12px;
    vertical-align: bottom;

}